@{
    ViewData["Title"] = "About";
}

<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="heading">about us</h3>
        <div class="col-md-6 aboutleft">
            <h3>Welcome to My Diary</h3>
            <p class="para1">
                - 1611617 Nguyen Anh Khoa <br>
                - 1611660 Tran Dang Khoi <br>
                - 1610512 Ung Van Duy <br>
                - 1610303 Le Vinh Chi <br>
                <p> Framework uses </p>
                    <ul>
                        <li>
                            <a href="https://docs.microsoft.com/en-us/dotnet/core/get-started">ASP.NET Core</a>
                        </li>
                        <li>
                            <a href="https://github.com/CalendarioFX/Calendario">Calendario</a>
                        </li>
                        <li>
                            <a href="https://jquery.com/">JQuery</a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/">Bootstrap</a>
                        </li>
                    </ul>
                See this project on <a href="https://github.com/nganhkhoa/diary_aspnetcore">Github</a><br>
            </p>
            
        </div>
        <div class="col-md-6 aboutright">
            <img src="/images/about.jpg" alt="" />
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about -->
<!-- services -->
<div class="services jarallax">
    <div class="container">
    </div>
</div>
<!-- //services -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3 class="heading">Our Team</h3>
        <div class="teamgrids">
            <div class="col-md-3 teamgrid1">
                <img src="/images/t1.png" alt="" />
                <div class="teaminfo">
                    <h3>NgAnh Khoa</h3>
                    <div class="team-social">
                        <a href="https://www.facebook.com/nguyenanh.khoa.5682"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/nganhkhoa"><i class="fa fa-github"></i></a>
                    </div>
                    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Team Leader</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +02 133 4567</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:1611617@hcmut.edu.vn"> 1611617@hcmut.edu.vn</a></p>
                </div>
            </div>
            <div class="col-md-3 teamgrid1">
                <img src="/images/t2.png" alt="" />
                <div class="teaminfo">
                    <h3>Khoi Tran</h3>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Developer</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +02 133 4568</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> mail@example1.com</a></p>
                </div>
            </div>
            <div class="col-md-3 teamgrid1">
                <img src="/images/t3.png" alt="" />
                <div class="teaminfo">
                    <h3>Ung Van Duy</h3>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Developer</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +02 133 4569</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> mail@example2.com</a></p>
                </div>
            </div>
            <div class="col-md-3 teamgrid1">
                <img src="/images/t4.png" alt="" />
                <div class="teaminfo">
                    <h3>Le Vinh Chi</h3>
                    <div class="team-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>
                    <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Developer</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +02 133 4570</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> mail@example3.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->