@using Microsoft.AspNetCore.Identity
@using diary.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (!SignInManager.IsSignedIn(User))
{
    <p>Not signed in</p>
}
else{

ViewData["Title"] = "Home Page";

<p>Welcome @UserManager.GetUserName(User)</p>

}